.head-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .headline {
        padding: 250px 0 100px 0;
    }

    .banner-video{
        border-radius: 15px;
    }
}

