.head-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .blank

    .headline {
        position: sticky;
        top: 50px;
        padding: 250px 0 100px 0;
    }

    .video-wrapper {
        border-radius: 15px;
        overflow: hidden; /* Ensures the video is clipped to the rounded corners */
        width: fit-content; /* Adjusts the wrapper to the size of the video */
        // transition: transform 0.1s ease-in-out;
    }
}

