@import url();

.film-journey{
    max-width: 800px;
    h2{
        text-align: center;
        margin-bottom: 20px !important;
    }
    h3{
        margin-top: 40px !important;
        margin-bottom: 20px !important;
    }
    p{
        // word-wrap: break-word;
        white-space: pre-wrap;
        line-height: 150% !important;
    }
    .zhua-jiu-imgs{
        max-width: 500px;
        width: 80%;
        margin: 0 auto;
        @media screen and (max-width: $breakpoint-medium){
            width: 100%;
        }
        img{
            flex: 1;
            max-width: 50%;
            object-fit: cover;
        }
    }
    .journey-image{
        max-width: 60%;
        height: auto;
        margin: 30px auto;
    }
}