@import "../../variables";

.head-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .blank-space{
        padding-bottom: 150px;
        @media (max-width: $breakpoint-medium){
            display: none;
        }
    }

    .headline {
        position: sticky;
        top: 50px;
        padding: 100px 0;
        text-align: center;
        @media (max-width: $breakpoint-medium){
            padding: 30px;
        }
    }

    .video-wrapper {      
        border-radius: 15px;
        overflow: hidden; /* Ensures the video is clipped to the rounded corners */
        width: fit-content; /* Adjusts the wrapper to the size of the video */
    }
}

.projects-section{
    @media (min-width: $breakpoint-medium){
        padding-top: 200px !important;
    }

    h1, h2, h3{
        margin-bottom: 20px !important;
    }

    .projects-display{
        max-width: 400px;
        h3{
            margin-bottom: 5px !important;
            line-height: 140%;
        }
        @media (min-width: $breakpoint-medium){
            

        }
    }
}