
.thumbnail-image-wrapper{
    border-radius: 15px;
    overflow: hidden; /* Ensures the video is clipped to the rounded corners */
    width: fit-content; /* Adjusts the wrapper to the size of the video */
}