.film-project-container{
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    .thumbnail-image-wrapper{
        max-height: ;
        border-radius: 15px;
        overflow: hidden; /* Ensures the video is clipped to the rounded corners */
    }
}
.film-project-container + .film-project-container {
    margin-top: 20px;
}