.film-project-container{
    white-space: pre-wrap;
    text-align: end;
    .thumbnail-image-wrapper{
        display: flex;
        justify-content: ;
        height: 185px;
        border-radius: 15px;
        overflow: hidden; /* Ensures the video is clipped to the rounded corners */
    }
}
.film-project-container + .film-project-container {
    margin-top: 20px;
}